
$primaryFont: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$backgroundColor: #f5f5f5;
$innerBorderColor: #eee;
$titleTextColor: #ead8d8;
$lightTextColor: #444;
$completedColor: #5bc0ad;
$deleteColor: #af5c5f;
